.Home {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 60px;
}

.Home .left-side {
    background-color: #855A9F;
    min-height: 100px;
    width: 45%;
    padding: 4rem 4rem 2rem;
    color: #fff;
}

.Home .left-side h1 {
    font-size: 42px;
}

.Home .left-side h2 {
    margin: 6rem 0 4rem;
    font-size: 22px;
    font-weight: 400;
}

.Home .left-side h3 {
    color: #A18BB2;
    font-size: 20px;
    font-style: italic;
}

.Home .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #855A9F;
}

.Home .right-side img {
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0.8;
}

.Home .right-side .login {
    position: absolute;
    background-color: #EAE6F6;
    width: 300px;
    height: 548px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.1);
}

.Home .right-side .login h1 {
    text-align: center;
    font-weight: 400;
    color: #1A0E3E;
    margin-bottom: 3rem;
}

.login label {
    font-size: 14px;
    color: #1A0E3E;
}

.login input {
    margin-bottom: 1rem;
    border: none;
    border-radius: 8px;
    outline: none;
    padding: 0.75rem ;
}

.login h5 {
    text-align: right;
    color: #1A0E3E;
    margin: 0;
    font-weight: 400;
}

.login .first-btn {
    background-color: #855A9F;
    color: #fff;
    padding: 0.75rem;
    font-size: 18px;
    margin: 1rem 0 ;
    border: none;
    border-radius: 8px;
    font-family: Mulish;
    cursor: pointer;
}

.login a {
    width: 100%;
}

.login .sec-btn {
    background-color: #fff;
    color: #855A9F;
    padding: 0.75rem;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    font-family: Mulish;
    cursor: pointer;
    width: 100%;
}

.login p {
    text-align: center;
    color: #1A0E3E;
    font-size: 14px;
    margin-bottom: 1rem;
}

.login div {
    display: flex;
    justify-content: space-between;
}

.login div button {
    padding: 1.5rem;
    border: none;
    background-color: #fff;
    border-radius: 8px;
    font-size: 28px;
    cursor: pointer;
    width: 85px;
}

.fa-facebook-f {
    color: #4167B2;
}
.login div .google {
    width: 38px;
    height: 38px;
}


.fa-twitter {
    color: #3DA9E0;
}