.Index {
  padding: 2rem 0.5rem;
  display: grid;
  grid-template-areas: "center";
  grid-template-columns: 1fr;
  gap: 4rem;
}

.Index h1 {
  font-size: 18px;
  color: #1a0e3e;
  margin: 1rem 0;
}

.Index section {
  margin: 0 2rem;
}

.Index .filters {
  display: flex;
  justify-content: flex-start;
  background-color: #fff;
  border-radius: 16px;
  padding: 1rem;
  box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.1);
}

.filters p {
  color: #1a0e3e;
}

.filters .categories {
  width: 80%;
}

.filter {
  width: 250px;
  font-size: 16px;
  padding: 0.5rem;
  border-color: #777;
  border-radius: 4px;
}

.dropdown-heading {
  color: #1a0e3e;
  width: 300px;
}

.Index section .index-items {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-areas: "one two three four";
  grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
  gap: 1rem;
}

.Index .index-item {
  margin-left: 0;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 700px;
  min-width: 310px;
}

.Index .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.Index .top-container {
  display: flex;
  align-items: center;
}

.Index .top-container a {
  text-decoration: none;
}

.Index .top-container img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding-right: 0.5rem;
}

.top-container div h3 {
  color: #1a0e3e;
  font-size: 20px;
  margin: 0.5rem 0;
}

.top-container h4 {
  color: #a18bb2;
  margin: 0;
}

.top-container h5 {
  color: #a18bb2;
  margin: 0;
}

.top i {
  color: #a18bb2;
  font-size: 28px;
}

.Index a {
  text-decoration: none;
}

.Index a h2 {
  font-size: 22px;
  margin: 1rem 0;
  padding-left: 1rem;
  font-weight: 400;
  color: #1a0e3e;
}

.Index a img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  margin-bottom: 0;
}

.Index h6 {
  color: #5a8154;
  font-style: italic;
  text-align: center;
  font-size: 22px;
  padding: 0 2rem;
}

.Index h6 i {
  color: #5a8154;
}

.Index .facts {
  color: #1a0e3e;
  font-size: 16px;
}

.Index .facts i {
  color: #5a8154;
  padding-left: 1rem ;
}

.Index .index-item p {
  text-align: justify;
  padding: 0 1rem;
  height: 140px;
  font-size: 20px;
  font-style: italic;
  color: #5a8154;
}

.Index .btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding: 0.5rem 0;
}

.btns button {
  background: none;
  border: none;
  font-family: Mulish;
  font-weight: 700;
  color: #a18bb2;
  padding: 0.75rem 1rem;
  font-size: 20px;
  cursor: pointer;
}

.btns button i {
  color: #a18bb2;
}
.share {
  display: none;
}

.dropdown-container {
  background-color: yellow;
  width: 100%;
  max-width: 256px;
}

@media screen and (max-width: 1345px) {
  .Index section .index-items {
    grid-template-areas: "one two three";
    grid-template-columns: 0.33fr 0.33fr 0.33fr;
  }
}

@media screen and (max-width: 1045px) {
    .Index section .index-items {
        grid-template-areas: "one two";
        grid-template-columns: 0.5fr 0.5fr;
      }
}

@media screen and (max-width: 710px) {
  .Index section {
    margin: 0 ;
  }
    .Index section .index-items {
        grid-template-areas: "one";
        grid-template-columns: 1fr ;
      }

      .Index .filters {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
      .filters .categories {
        width: 100%;
      }
      .filter {
          width: 320px;
      }

      .dropdown-container {
        max-width: 320px;
      }
}
