nav {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #855A9F;
    padding: 0 2rem;
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; */
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1rem;
}

nav img {
    max-width: 50px;
}

nav .active {
    background-color: rgba(225, 225, 225, 0.2);
    border-radius: 8px;
    padding: 0.5rem 1rem;
}

nav div {
    width: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
}

nav .left-icon {
    font-family: Mulish;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 26px;
    background-color: #EAE6F6;
    color: #1A0E3E;
    font-weight: 700;
    border-radius: 50%;
}

nav .profile{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: contain;
    border: 3px solid #EAE6F6;
    cursor: pointer;
}

nav ul {
    position: absolute;
    top: 48px;
    right: 40px;
    background-color: #EAE6F6;
    padding: 1rem 3rem 1rem 1.5rem;
    list-style: none;
    border-radius: 8px;
    font-size: 20px;    
}

li {
    width: 100%;
}

nav ul .one {
    margin-bottom: 1rem;
}

nav ul a, i {
    text-align: right;
    color: #1A0E3E;
}

nav ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.dropdown {
    display: none;
}

nav #user-menu{
    background-color: #855A9F;
}

#user-menu a {
    color: #fff;
}

#user-menu button {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    text-align: right;
    margin-left: 0.5rem;
    font-family: Mulish;
}