.New {
  margin: 6rem 2rem 2rem;
  background-color: #333;
  border-radius: 1rem;
  padding: 1rem 2rem;
  box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.1);
}

.New h1 {
  color: white;
  font-size: 24px;
  margin-bottom: 2rem;
}

.New .side-by {
  display: flex;
}

.New form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.New .art-side {
  width: 100%;
  height: auto;
  max-width: 520px;
  object-fit: cover;
  margin-left: 2rem;
  border-radius: 30px;
}

.New label {
  margin-bottom: 0.5rem;
  font-size: 16px;
  color: white;
  font-family: Mulish;
  font-weight: 700;
}

.New #title, select {
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-family: Mulish;
    font-size: 14px;
    color: black;
}

.New textarea {
    padding: 0.5rem;
    height: 4rem;
    margin-bottom: 1rem;
    font-family: Mulish;
    font-size: 14px;
    color: black;
}

.New #image {
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-family: Mulish;
    font-size: 14px;
    color: white;
}

.New .upload-button {
    border: 1px solid #ccc;
    padding: 6px 12px;
    cursor: pointer;
}

.prepost-images {
  display: flex;
  flex-wrap: wrap;
}

.prepost-image {
  width: 47%;
  height: 250px;
  object-fit: cover;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border-radius: 30px;
}

.submit-item-form {
    background-color: black;
    color: #fff;
    padding: 0.75rem;
    font-size: 18px;
    margin: 4rem 0 0;
    border: none;
    border-radius: 8px;
    font-family: Mulish;
    cursor: pointer;
}

@media screen and (max-width: 1050px) {
  .New form {
    width: 100%;
  }
  
  .New .art-side {
    display: none;
  }
}

@media screen and (max-width: 510px) {
  .New {
    margin: 6rem 1rem 2rem;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem 1rem;
    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.1);
  }
}

