.Profile {
  margin: 2rem;
}

.Profile section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  height: 75vh;
}

.Profile section img {
  border-radius: 50%;
  align-self: center;
  width: 100%;
  height: auto;
  max-width: 175px;
  object-fit: cover;
}

.Profile h2 {
  margin: 1rem 0 0.5rem;
  font-size: 20px;
  align-self: center;
  color: #1a0e3e;
}

.Profile section > h3 {
  margin: 0.125rem 0;
  font-size: 16px;
  color: #a18bb2;
  font-weight: 400;
}

.Profile hr {
    border-top: 1px solid #000;
}

.Profile div {
    align-self: center;
    color: #1a0e3e;
}

.profile-items{
  background-color: blue;
  display: flex;
}


.profile-items-list{
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.inactive-items{
  display: flex;
  border-radius: 8px;
  width: 100%;
  padding: 0.5rem;
  background-color: #fff;
  box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.1);
  height: 250px;
}

.active-items {
  display: flex;
  border-radius: 8px;
  width: 100%;
  padding: .5rem;
  background-color: #fff;
  box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.1);
  height: 250px;
}

.profile-item-image{
  width: 200px;
  height: 200px;
}
.inactive-items .profile-item-image{
  border: 2px solid #a18bb2;
  margin-right: 16px;
  object-fit: cover;
}

.active-items .profile-item-image{
  border: 2px solid #a18bb2;
  margin-right: 16px;
  object-fit: cover;
}

.Profile button {
  background-color: #855A9F;
  color: #fff;
  padding: 0.75rem;
  font-size: 18px;
  margin: 1rem 0 ;
  border: none;
  border-radius: 8px;
  font-family: Mulish;
  cursor: pointer;
  position: relative;
  margin-left: 25px;
}

.profile-item a {
  text-decoration: none;
  color: #1a0e3e;
}

.profile-items-list h1 {
  color:#a18bb2;
  margin: auto;
  font-size: 20px;
  font-style: italic;
}

.Profile h1 {
  padding-top: 2rem;
}
