.Profile {
  margin: 4rem 2rem 2rem;
  max-height: 50vh;
}

.Profile .profile-container {
  display: flex;
  width: 100%;
}

.Profile aside {
  position: sticky;
  top: 4rem;
  bottom: 4rem;
}

.Profile aside section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  width: 300px;
  height: 524px;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.Profile aside img {
  border: 3px solid #855A9F;
  border-radius: 50%;
  align-self: center;
  width: 100%;
  height: auto;
  max-width: 175px;
  max-height: 175px;
  object-fit: cover;
}

.Profile h2 {
  margin: 1rem 0 0.5rem;
  font-size: 20px;
  align-self: center;
  color: #1a0e3e;
}

.Profile aside section h3 {
  margin: 0.125rem 0;
  font-size: 16px;
  color: #a18bb2;
  font-weight: 400;
}

.Profile aside section h4{
  font-size: 20px;
  margin: 2rem 0 1rem;
  text-align: center;
}

.Profile aside section h5 {
  font-size: 18px;
}

.Profile .profile-container .profile-items {
  width: 100%;
  height: 90vh;
  overflow: auto;
}

.profile-items-list{
  display: flex;
  flex-direction: column;
  padding: 0 2rem 24px;
  width: 92%;
  
}

.requests-list {
  border-radius: 8px;
  width: 100%;
  padding: 1rem 0.5rem;
  background-color: #fff;
  box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.1);
  height: auto;
  list-style: none;
}

.requests-list a {
  text-decoration: none;
  color: #fff;
}

.requests-list a li {
  background-color: #a18bb2;
  border-radius: 4px;
  padding: 0.5rem;
  margin: 1rem 0;
}

.inactive-items{
  display: flex;
  border-radius: 8px;
  width: 100%;
  padding: 0.5rem;
  background-color: #fff;
  box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.1);
  height: 250px;
  overflow-x: auto;
  overflow-y: hidden;
}

.active-items {
  display: flex;
  border-radius: 8px;
  width: 100%;
  padding: .5rem;
  background-color: #fff;
  box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.1);
  height: 250px;
  overflow-x: auto;
  overflow-y: hidden;
}

.profile-item-image{
  width: 200px;
  height: 200px;
}
.inactive-items .profile-item-image{
  border: 2px solid #a18bb2;
  margin-right: 16px;
  object-fit: cover;
}

.active-items .profile-item-image{
  border: 2px solid #a18bb2;
  margin-right: 16px;
  object-fit: cover;
}

.Profile button {
  background-color: #855A9F;
  color: #fff;
  padding: 0.75rem;
  font-size: 18px;
  margin: 1rem;
  border: none;
  border-radius: 8px;
  font-family: Mulish;
  cursor: pointer;
  width: 100%;
  max-width: 600px;
}

.profile-item a {
  text-decoration: none;
  color: #1a0e3e;
}

.profile-items-list h1 {
  color:#a18bb2;
  margin: auto;
  font-size: 20px;
  font-style: italic;
}

.Profile h1 {
  padding-top: 2rem;
}


@media screen and (max-width: 950px) {
  .Profile {
    margin: 4rem 1rem 2rem;
    max-height: 50vh;
  }
  .Profile .profile-container {
    flex-direction: column;
  }

  .Profile aside {
    position: static;
  }

  .Profile aside section {
    width: 100%;
    margin-right: 1rem;
    padding: 1rem 0;
  }

  .Profile .profile-container .profile-items {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .profile-items-list{
    display: flex;
    flex-direction: column;
    padding: 0 0rem 24px;
    width: 100%;
  }
}