.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.leaderboard {
  padding: 40px;
  border: 2px solid transparent;
  width: 550px;
  background-color: #855a9f;
  margin-top: 20px;
  height: 15px;
  border-radius: 10px;
  opacity: 0.5;
  font-family: Mulish;
}
.leaderboard:hover {
  opacity: 1;
  background-color: white;
}
.leaderboard p {
  text-align: right;
  margin-top: -52px;
  font-size: 25px;
  color: #a18bb2;
  margin-left: 10px;
}
.title {
  text-align: center;
  padding-top: 30px;
  color: #13031f;
}
.leaderboard h1 {
  color: #a18bb2;
  font-size: 25px;
  text-align: center;
  margin-top: -5px;
}
.leaderboard a {
  color: #a18bb2;
  text-decoration: none;
}
.leaderboard img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  float: left;
  margin-top: -20px;
}

@media screen and (max-width: 280px) {
  .leaderboard {
    padding: 40px;
    border: 2px solid transparent;
    width: 100px;
    background-color: #855a9f;
    margin-top: 20px;
  }
  .leaderboard p {
    text-align: right;
    margin-top: -25px;
    font-size: 13px;
    color: #a18bb2;
  }
  .title {
    text-align: center;
    padding-top: 30px;
    color: #13031f;
    margin-right: 20px;
    font-size: 30px;
  }
  .leaderboard h1 {
    font-size: 10px;
    margin-top: 5px;
  }
  .leaderboard img {
    height: 30px;
    width: 30px;
    margin-top: -10px;
    margin-left: -30px;
  }
}

@media screen and (max-width: 320px) and (min-width: 281px) {
    .leaderboard {
        padding: 40px;
        border: 2px solid transparent;
        width: 150px;
        background-color: #855a9f;
        margin-top: 20px;
      }
      .leaderboard p {
        text-align: right;
        margin-top: -25px;
        font-size: 13px;
        color: #a18bb2;
      }
      .title {
        text-align: center;
        padding-top: 30px;
        color: #13031f;
        margin-right: 20px;
        font-size: 30px;
      }
      .leaderboard h1 {
        font-size: 12px;
        margin-top: 5px;
      }
      .leaderboard img {
        height: 30px;
        width: 30px;
        margin-top: -10px;
        margin-left: -30px;
      }
}

@media screen and (max-width: 360px) and (min-width: 321px) {
    .leaderboard {
        padding: 40px;
        border: 2px solid transparent;
        width: 160px;
        background-color: #855a9f;
        margin-top: 20px;
      }
      .leaderboard p {
        text-align: right;
        margin-top: -25px;
        font-size: 13px;
        color: #a18bb2;
      }
      .title {
        text-align: center;
        padding-top: 30px;
        color: #13031f;
        margin-right: 20px;
        font-size: 30px;
      }
      .leaderboard h1 {
        font-size: 13px;
        margin-top: 5px;
      }
      .leaderboard img {
        height: 30px;
        width: 30px;
        margin-top: -10px;
        margin-left: -30px;
      }
}

@media screen and (max-width: 375px) and (min-width: 361px) {
    .leaderboard {
        padding: 40px;
        border: 2px solid transparent;
        width: 190px;
        background-color: #855a9f;
        margin-top: 20px;
      }
      .leaderboard p {
        text-align: right;
        margin-top: -30px;
        font-size: 15px;
        color: #a18bb2;
      }
      .title {
        text-align: center;
        padding-top: 30px;
        color: #13031f;
        margin-right: 20px;
        font-size: 30px;
      }
      .leaderboard h1 {
        font-size: 15px;
        margin-top: 5px;
      }
      .leaderboard img {
        height: 30px;
        width: 30px;
        margin-top: -10px;
        margin-left: -30px;
      }
}

@media screen and (max-width: 411px) and (min-width: 376px) {
    .leaderboard {
        padding: 40px;
        border: 2px solid transparent;
        width: 210px;
        background-color: #855a9f;
        margin-top: 20px;
      }
      .leaderboard p {
        text-align: right;
        margin-top: -30px;
        font-size: 15px;
        color: #a18bb2;
      }
      .title {
        text-align: center;
        padding-top: 30px;
        color: #13031f;
        margin-right: 20px;
      }
      .leaderboard h1 {
        font-size: 15px;
        margin-top: 5px;
      }
      .leaderboard img {
        height: 30px;
        width: 30px;
        margin-top: -10px;
        margin-left: -30px;
      }
}

@media screen and (max-width: 414px) and (min-width: 412px) {
    .leaderboard {
        padding: 40px;
        border: 2px solid transparent;
        width: 210px;
        background-color: #855a9f;
        margin-top: 20px;
      }
      .leaderboard p {
        text-align: right;
        margin-top: -32px;
        font-size: 15px;
        color: #a18bb2;
      }
      .title {
        text-align: center;
        padding-top: 30px;
        color: #13031f;
        margin-right: 20px;
      }
      .leaderboard h1 {
        font-size: 15px;
        margin-top: 0px;
      }
      .leaderboard img {
        height: 30px;
        width: 30px;
        margin-top: -10px;
        margin-left: -20px;
      }
}

@media screen and (max-width: 540px) and (min-width: 415px) {
    .leaderboard {
        padding: 40px;
        border: 2px solid transparent;
        width: 320px;
        background-color: #855a9f;
        margin-top: 20px;
      }
      .leaderboard p {
        text-align: right;
        margin-top: -40px;
        font-size: 20px;
        color: #a18bb2;
      }
      .title {
        text-align: center;
        padding-top: 30px;
        color: #13031f;
        margin-right: 20px;
      }
      .leaderboard h1 {
        font-size: 20px;
        margin-top: 0px;
      }
      .leaderboard img {
        height: 40px;
        width: 40px;
        margin-top: -10px;
        margin-left: -20px;
      }
}

@media screen and (max-width: 768px) and (min-width: 541px) {
    .leaderboard {
        padding: 40px;
        border: 2px solid transparent;
        width: 400px;
        background-color: #855a9f;
        margin-top: 20px;
      }
      .leaderboard p {
        text-align: right;
        margin-top: -50px;
        font-size: 25px;
        color: #a18bb2;
      }
      .title {
        text-align: center;
        padding-top: 30px;
        color: #13031f;
        margin-right: 20px;
      }
      .leaderboard h1 {
        font-size: 25px;
        margin-top: -5px;
      }
      .leaderboard img {
        height: 40px;
        width: 40px;
        margin-top: -5px;
        margin-left: -15px;
      }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .leaderboard {
        padding: 40px;
        border: 2px solid transparent;
        width: 500px;
        background-color: #855a9f;
        margin-top: 20px;
      }
      .leaderboard p {
        text-align: right;
        margin-top: -50px;
        font-size: 25px;
        color: #a18bb2;
      }
      .title {
        text-align: center;
        padding-top: 30px;
        color: #13031f;
        margin-right: 20px;
      }
      .leaderboard h1 {
        font-size: 25px;
        margin-top: -5px;
      }
      .leaderboard img {
        height: 40px;
        width: 40px;
        margin-top: -5px;
        margin-left: -15px;
      }
}
