.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.leaderboard {
  padding: 32px;
  border: 2px solid transparent;
  width: 85%;
  background-color: white;
  margin-top: 20px;
  height: 15px;
  border-radius: 10px;
  font-family: Mulish;
  box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.1);
}
.leaderboard:hover {
  background-color: #855a9f;
}
.leaderboard p {
  text-align: right;
  margin-top: -8px;
  font-size: 24px;
  margin-left: 10px;
}
.title {
  text-align: center;
  color: white;
  font-size: 28px;
}
.leaderboard h1 {
  font-size: 20px;
  text-align: center;
  margin-top: -16px;
}

.leaderboard a {
  color: #a18bb2;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.leaderboard a :hover {
  color: white;
}
.leaderboard img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  float: left;
  margin-top: -36px;
}

.timer-section {
  padding: 0 1rem;
  color: #fff;
  margin: 6rem auto 0;
  width: 87%;
  /* background-color: white; */
  background: white url("https://media.istockphoto.com/photos/winners-cup-with-festive-sparkles-picture-id1226673585?k=20&m=1226673585&s=612x612&w=0&h=LCOKAXdNRMB0gEwWypHuhpN89qS4swfpByaMASqf0vo=");
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.1);
}

.timer-section h1{
    margin-top: 16px;
    color: #13031f;
}
.timer-section p{
    margin-top: -8px;
    color: #855a9f;
    text-align: center;
}
h1.clock{
  font-size: 50px;
}

@media screen and (max-width: 720px) {
  .timer-section {
    color: #13031f;
    margin: 6rem auto 0;
    width: 87%;
  }

  .leaderboard {
    width: 80%;
  }
}

